<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" role="form" ng-submit="$ctrl.try_login()">
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Username</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="$ctrl.user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="$ctrl.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
            <a href="#!/registration" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
