<div class="col-lg-6 col-lg-offset-3">
<form ng-submit="$ctrl.addtask()">

  <div class="form-group">
      <input class="form-control" type="text" ng-model="$ctrl.task.name" placeholder="Task name" required>
  </div>
  <div class="form-group">
    <textarea class="form-control" ng-model="$ctrl.task.description" placeholder="Description" name="text"></textarea>
  </div>
  <div class="form-group">
      <input class="btn" type="submit">
  </div>
</form>
<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Is done</th>
        <th></th>
    </tr>
    <tr ng-repeat="task in $ctrl.tasks" id="{{task.id}}">
      <td><a href="#!/details/{{task.id}}">{{task.name}}</a></td>
      <td><input type="checkbox" value="{{task.done}}"><td>
      <td class="rmv col-sm-1" ng-click="$ctrl.removetask(task.id)">X<td>
    </tr>
</table>
</div>
